# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Configuración local
.env
instance/
*.log

# Base de datos local
database/*.db
database/*.sqlite
database/*.sqlite3

# Editores y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
